<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
             <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'home' %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %} ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                  <i class="fas fa-flag nav-icon"></i>
                  <p>Reports</p>
                </a>
              </li>

            </ul>
             </li>

    {% if "app.can_register_batch" in perms or "app.can_receive_file" in perms  %}
        <li class="nav-item has-treeview  {% if request.resolver_match.url_name == 'batch_index'  or request.resolver_match.url_name == 'document.create'  or request.resolver_match.url_name == 'batch_create' %} menu-open {% endif %}" >
            <a href="#" class="nav-link  {% if request.resolver_match.url_name == 'batch_index' or request.resolver_match.url_name == 'create_document_file' or request.resolver_match.url_name == 'document.create'  or request.resolver_match.url_name == 'batch_create' %} active {% endif %}">
              <i class="nav-icon fas fa-file-pdf"></i>
              <p>
                Batches
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'batch_index' %}" class="nav-link {% if request.resolver_match.url_name == 'batch_index' %} active {% endif %}">
                  <i class="far fa-folder-open"></i>
                  <p>Batches</p>
                </a>
              </li>
            </ul>
        </li>
        {% endif %}

                {% if 'app.can_register_batch' in perms %}
            <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'create_document_type'  or request.resolver_match.url_name == 'list_document_types' %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'create_document_type'  or request.resolver_match.url_name == 'list_document_types' %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Document Types
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                {% if 'app.can_register_batch' in perms %}
              <li class="nav-item">
                <a href="{% url 'create_document_type' %}" class="nav-link {% if request.resolver_match.url_name == 'create_document_type' %} active {% endif %}">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Add Document Type</p>
                </a>
              </li><li class="nav-item">
                <a href="{% url 'list_document_types' %}" class="nav-link {% if request.resolver_match.url_name == 'list_document_types' %} active {% endif %} ">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Document Types</p>
                </a>
              </li>
{% endif %}


        </ul>
                </li>
        {% endif %}
            {% if 'app.can_register_batch' in perms %}
            <li class="nav-item has-treeview  {% if request.resolver_match.url_name == 'list_file_types'  or request.resolver_match.url_name == 'create_file_type' %} menu-open {% endif %}" >
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'list_file_types'  or request.resolver_match.url_name == 'create_file_type' %} active {% endif %}">
              <i class="nav-icon fas fa-file-word"></i>
              <p>
                File Types
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                {% if 'app.can_register_batch' in perms %}
              <li class="nav-item">
                <a href="{% url 'create_file_type' %}" class="nav-link {% if request.resolver_match.url_name == 'create_file_type' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add File Type</p>
                </a>
              </li>

            {% endif %}
            {% if 'app.can_register_batch' in perms %}
                 <li class="nav-item">
                <a href="{% url 'list_file_types' %}" class="nav-link {% if request.resolver_match.url_name == 'list_file_types' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Files Types</p>
                </a>
              </li>
                {% endif %}
            </ul>
          </li>
        {% endif %}
        {% if 'app.can_receive_file' in perms or 'app.can_disassemble_file' in perms or 'app.can_scan_file' in perms or 'app.can_reassemble_file' in perms or 'app.can_transcribe_file' in perms  or 'app.can_qa_file' in perms or 'app.can_validate_file' in perms %}
                  <li class="nav-item has-treeview ">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'upload_document' or request.resolver_match.url_name == 'uploaded_documents' %} active {% endif %} ">
              <i class="nav-icon fas fa-folder-open"></i>
              <p>
                Files
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                {% if 'app.can_receive_file' in perms or 'app.can_disassemble_file' in perms or 'app.can_scan_file' in perms or 'app.can_reassemble_file' in perms or 'app.can_transcribe_file' in perms  or 'app.can_qa_file' in perms or 'app.can_validate_file' in perms %}
                 <li class="nav-item">
                <a href="{% url 'list_document_files' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Files</p>
                </a>
              </li>

{% endif %}

            </ul>
{% endif %}
                {% if 'app.can_scan_file' in perms or 'app.can_transcribe_file' in perms  or 'app.can_qa_file' in perms or 'app.can_validate_file' in perms %}
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'create_document_type'  or request.resolver_match.url_name == 'view_document_types' %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Documents
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

            {% if 'app.can_scan_file' in perms %}
                 <li class="nav-item">
                <a href="{% url 'get_file_to_upload_documents' %}" class="nav-link">
                  <i class="fas fa-file-upload nav-icon"></i>
                  <p>Upload Documents</p>
                </a>
              </li>
                {% endif %}
            {% if  'app.can_transcribe_file' in perms  %}
                  <li class="nav-item">
                <a href="{% url 'list_document_files' %}" class="nav-link">
                  <i class="fas fa-glasses nav-icon"></i>
                  <p>Transcribe Documents</p>
                </a>
              </li>
{% endif %}
        </ul>
                </li>
        {% endif %}
        {% if 'app.can_qa_file' in perms or 'app.can_validate_file' in perms or "app.can_receive_file" in perms or 'app.can_disassemble_file' in perms %}
             <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'quality' or request.resolver_match.url_name == 'inspect' or request.resolver_match.url_name == 'receive' or request.resolver_match.url_name == 'validation'  %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'quality' or request.resolver_match.url_name == 'inspect' or request.resolver_match.url_name == 'receive' or request.resolver_match.url_name == 'validation' %} active {% endif %}">
              <i class="nav-icon fas fa-microscope"></i>
              <p>
                Quality Control
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
{% if 'app.can_qa_file' in perms %}
                 <li class="nav-item">
                <a href="{% url 'quality' %}" class="nav-link {% if request.resolver_match.url_name == 'quality' %} active {% endif %}">
                  <i class="fas fa-gavel nav-icon"></i>
                  <p>QA</p>
                </a>
              </li>

    {% endif %}
            {% if 'app.can_disassemble_file' in perms or 'app.can_reassassemble_file' %}
                      <li class="nav-item">
                <a href="{% url 'inspect' %}" class="nav-link {% if request.resolver_match.url_name == 'inspect' %} active {% endif %}">
                  <i class="fas fa-gavel nav-icon"></i>
                  <p>{% if user.is_superuser %}
                      Assembler
                      {% elif 'app.can_disassemble_file' in perms %}
                      Disassembler
                  {% else %}
                      Reassembler
                      {% endif %}</p>
                </a>
    </li>

                {% endif %}
            {% if 'app.can_receive_file' in perms %}

                <li class="nav-item">
                <a href="{% url 'receive' %}" class="nav-link {% if request.resolver_match.url_name == 'receive' %} active {% endif %}">
                  <i class="fas fa-gavel nav-icon"></i>
                  <p>Reception</p>
                </a>
              </li>
                {% endif %}
    {% if 'app.can_validate_file' in perms %}
                  <li class="nav-item">
                <a href="{% url 'validation' %}" class="nav-link {% if request.resolver_match.url_name == 'validation' %} active {% endif %}">
                  <i class="fas fa-check-double nav-icon"></i>
                  <p>Validate Documents</p>
                </a>
              </li>
{% endif %}
            </ul>
            </li>
{% endif %}
            {% if perms.auth %}
            <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User Management
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">
            {% if perms.auth.view_user %}
                 <li class="nav-item">
                <a href="{% url 'users.index' %}" class="nav-link">
                  <i class="fas fa-user nav-icon"></i>
                  <p>Users</p>
                </a>
              </li>
            {% endif %}
            {% if perms.auth.add_user %}
                 <li class="nav-item">
                <a href="{% url 'users.create' %}" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Add user</p>
                </a>
              </li>
            {% endif %}
                {% if perms.auth.view_group %}
                  <li class="nav-item">
                <a href="{% url 'groups.index' %}" class="nav-link">
                  <i class="fas fa-check-double nav-icon"></i>
                  <p>Roles</p>
                </a>
              </li>
                    {% endif %}
             {% if perms.auth.add_user %}
                 <li class="nav-item">
                <a href="{% url 'roles.create' %}" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Add Role</p>
                </a>
              </li>
            {% endif %}
            </ul>

            </li>

            {% endif %}

            <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-burn"></i>
              <p>
                Escalation
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">

                 <li class="nav-item">
                <a href="{%  url 'rejected_list_document_files' %}" class="nav-link">
                  <i class="fas fa-file nav-icon"></i>
                  <p>Files</p>
                </a>
              </li>


                 <li class="nav-item">
                <a href="{%  url 'rejected_list_document_files' %}" class="nav-link">
                  <i class="fas fa-file-pdf nav-icon"></i>
                  <p>Documents</p>
                </a>
              </li>
            </ul>

            </li>


        </ul>

      </nav>