{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">All Batches</h3>
                {% if "app.can_register_batch" in perms %}
                <div class="card-tools">
                    <a href="{% url 'batch_create' %}" class="btn btn-primary">Add Batch</a>
                </div>
               {% endif %}
              </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if filter %}
                <form action="" method="get" class="form form-inline">
{#                    {% bootstrap_form filter.form layout='inline' %}#}
{#                    {% bootstrap_button 'Search' %}#}
                {{ filter.form|crispy }}
                </form>
                {% endif %}
              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}