{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>

            {% if 'app.can_receive_file' in perms  %}
                <div class="dropdown-menu">
                {{ record.id|get_receiver_Button }}
                <div role="separator" class="dropdown-divider"></div>
                    <a class="btn btn-info btn-block" href="{% url 'batch_files' record.id %}">Inspect Batch</a>
                 </div>
            {% endif %}

