{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                {{ record.id|get_actions_batch }}
                <div role="separator" class="dropdown-divider"></div>
                {% if 'app.can_register_batch' in perms and record.created_by == user and record.state != 'Closed'   %}



    <a class="btn btn-danger btn-block" href="{% url 'batch_delete' record.id %}">Delete</a>
                    <a class="btn btn-primary btn-block" href="{% url 'batch_edit' record.id %}">Edit</a>


        {% endif %}
            <a class="btn btn-info btn-block" href="{% url 'batch_files' record.id %}">Open </a>



        </div>



