{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">Files for this batch</h3>
                <button class="btn btn-warning" id="action_btn" onclick="hideUnhide()">Take Action of this batch</button>
                <div class="card-tools">
                    <a href="{% url 'create_document_file' batch_id %}" class="btn btn-primary">Add File</a>
                </div>
              </div>
            <!-- /.card-header -->
            <div class="card-body">
            <div class="row" id="action_row" style="display: none">
                <div class="col-md-4">

            <form action="{% url 'file_submit' 728782781728989898 %}" method="post"  id="form_data">
                    {% csrf_token %}
                    <!-- Default unchecked -->


<!-- Default checked -->
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                        <button class="btn btn-success"  type="submit"> Accept</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger" onclick="check()" type="button"> Reject</button>
                    </div>
                </div>

                    <div class="form-group green-border-focus" style="display: none" id="desc">

  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3" placeholder="reason for reject" name="desc"></textarea>
</div>
                     <div class="form-group">
                        <button type="submit"  id ="btn_submit" class="btn btn-primary btn-block" style="display: none">Submit</button>
                    </div>
                </form>
                </div>
            </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Barcode</th>

                    <th style="width:150px; min-width:100px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </thead>
                <tbody>
            {% for obj in object_list %}
                <tr>
                <td>{{ obj.file_reference }}</td>
                    <td>{{ obj.file_barcode }}</td>

                <td>
                        <a href="{% url 'document.view' obj.file_reference %}" class="btn btn-info btn-icon sq-32" title="open">

                                            <span class="fa fa-eye"></span>

                                    </a>
                                    <a href="#" title="edit">
                                        <button class="btn btn-info btn-icon sq-32" type="button">
                                            <span class="fa fa-pencil-alt"></span>
                                        </button>
                                    </a>

                                    <a title="delete" href="#"><button class="btn btn-danger btn-icon sq-32 btnDelete"
                                            type="button">
                                        <span class="fa fa-trash-alt"></span>
                </button></a>


                                </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                 <th>#</th>
                  <th>Ref</th>
                    <th style="width:150px; min-width:100px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}

{% block js %}
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>

    <script>
  $(function () {
    $("#example1").DataTable();
  });

</script>
    <script>
function hideUnhide() {
  var action_row = document.getElementById("action_row");
  var action_btn = document.getElementById("action_btn");
  if (action_row.style.display === "none") {
    action_row.style.display = "block";
    action_btn.textContent="Hide Action Form";
  } else {
    action_row.style.display = "none";
action_btn.textContent="Take Action on this Batch";
  }
}
function check() {
    var textarea_desc=document.getElementById('desc');
    var btn_submit =document.getElementById('btn_submit');

    if(textarea_desc.style.display ==='none'){
        textarea_desc.style.display = "block"
        btn_submit.style.display = "block"

    }
    else {
       textarea_desc.style.display = "none"
        btn_submit.style.display = "none"
    }
}
</script>
{% endblock %}