{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">Files for this batch</h3>
               {% if 'app.can_receive_batch' in perms %}
                <button class="btn btn-warning" id="action_btn" onclick="hideUnhide()">Take Action of this batch</button>
                {% endif %}
           {% if 'app.can_register_batch' in perms %}
               <div class="card-tools">
                    <a href="{% url 'create_document_file' batch_id %}" class="btn btn-primary">Add File</a>
                </div>
           {% endif %}
              </div>
            <!-- /.card-header -->
            <div class="card-body">
            <div class="row" id="action_row" style="display: none">
                <div class="col-md-4">

            <form action="{% url 'receiver_submit_batch' batch_id %}" method="post"  id="form_data">
                    {% csrf_token %}
                    <!-- Default unchecked -->


<!-- Default checked -->
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                        <button class="btn btn-success"  type="submit"> Accept</button>
                        </div>
                    </div>
                    <input type="hidden" name="is_reject" value="nothing">
                    <div class="col-md-6">
                        <button class="btn btn-danger" onclick="check()" type="button"> Reject</button>
                    </div>
                </div>

                    <div class="form-group green-border-focus" style="display: none" id="desc">

  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3" placeholder="reason for reject" name="desc"></textarea>
</div>
                     <div class="form-group">
                        <button type="submit"  id ="btn_submit" class="btn btn-primary btn-block" style="display: none">Submit</button>
                    </div>
                </form>
                </div>
            </div>
                {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}

{% block js %}
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>

    <script>
  $(function () {
    $("#example1").DataTable();
  });

</script>
    <script>
function hideUnhide() {
  var action_row = document.getElementById("action_row");
  var action_btn = document.getElementById("action_btn");
  if (action_row.style.display === "none") {
    action_row.style.display = "block";
    action_btn.textContent="Hide Action Form";
  } else {
    action_row.style.display = "none";
action_btn.textContent="Take Action on this Batch";
  }
}
function check() {
    var textarea_desc=document.getElementById('desc');
    var btn_submit =document.getElementById('btn_submit');

    if(textarea_desc.style.display ==='none'){
        textarea_desc.style.display = "block"
        textarea_desc.setAttribute('required','true');
        btn_submit.style.display = "block"

    }
    else {
       textarea_desc.style.display = "none";
        textarea_desc.setAttribute('required','false');
        btn_submit.style.display = "none"
    }
}
</script>
{% endblock %}