
 {% if 'app.can_receive_file' in perms or 'app.can_disassemble_file' in perms or 'app.can_scan_file' in perms or 'app.can_reassemble_file' in perms  %}
<a class="btn btn-info btn-sm" href="{% url 'select_file' record.pk %}">Select</a>
{% endif %}
<a class="btn btn-info btn-sm" href="{% url 'view_docs_in_file'  record.file_reference%}">View</a>
{% if record.state.pk == '401' or record.state.pk == '403' or record.state.pk == '405'  %}
              <a class="btn btn-warning btn-sm" href="{% url 'view_docs_in_file'  record.file_reference%}">Edit</a>



 {% elif 'app.can_scan_file' in perms  %}
        {% if record.file_scanned_by_id == request.user.pk %}
            <a class="btn btn-info btn-sm" href="{% url 'upload_document' record.file_reference %}">View</a>
            {% else %}
              <a class="btn btn-info btn-sm" href="{% url 'start_scan' record.file_reference %}">Select</a>
            {% endif %}

    {% elif 'app.can_transcribe_file' in perms %}
    <a class="btn btn-info btn-sm" href="{% url 'get_files_from_storage' record.file_reference %}">Map Documents </a>
     <a class="btn btn-warning btn-sm" href="{% url 'view_docs_in_file'  record.file_reference %}">Transcribe</a>
        {% elif 'app.can_qa_file' in perms %}
     {% if record.file_qa_by_id != None %}
           <a class="btn btn-info btn-sm" href="{% url 'view_docs_in_file'  record.file_reference %}">View</a>
            {% else %}
              <a class="btn btn-info btn-sm" href="{% url 'start_qa' record.file_reference %}">Select</a>
            {% endif %}

        {% elif 'app.can_validate_file' in perms %}
        <a class="btn btn-info btn-sm" href="#">Select</a>

    {% endif %}