{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% block content %}
    <div class="row">
           <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Document Types</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>File Reference</th>
                      <th>File Type Description</th>
                      <th style="width: 40px">Edit</th>
                      <th style="width: 40px">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if documents %}
                      {% for doc in documents %}
                    <tr>
                      <td></td>
                      <td>{{    doc.document_name }}</td>
                      <td>
                        {{ doc.document_description }}
                      </td>
                      <td><button href="" class="btn btn-primary preview" value="{{ doc.document_field_specs|clean_json }}"><span class="fa fa-eye"></span></button></td>
                      <td><a href="{% url 'delete_doc_type' doc.document_name %}" class="btn btn-danger"><span class="fa fa-trash"></span></a></td>

                    </tr>
                      {% endfor %}
                  {% else %}
                      <tr>
                      <td></td>
                          <td><b>Not files In the System</b></td>
                      </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

              </div>
            </div>
            <!-- /.card -->
        </div>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Document Form Preview</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">
                <div id="json-editor-form"></div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'jsoneditor.min.js' %}"></script>
    <script>

    $('.preview').click(function(){
        let defaultSchema = $(this).val()
        $('#modal-lg').modal('show');
        renderForm(defaultSchema)
    })

    function renderForm(data){

    let hema = JSON.parse(data)
       let defaultSchema = JSON.parse(JSON.stringify(hema))
         let jsoneditor = null
    let defaultOptions = {
        iconlib: 'fontawesome5',
        object_layout: 'normal',
        schema: defaultSchema,
        show_errors: 'interaction',
        theme: 'spectre'
    }

    const jsonEditorForm = document.querySelector('#json-editor-form');
    const initJsoneditor = () => {
        if (jsoneditor) {
            jsoneditor.destroy()
        }

        jsoneditor = new window.JSONEditor(jsonEditorForm, defaultOptions)

    }
    initJsoneditor()

   }
    </script>
{% endblock %}