{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Documents</h3>
                {% if 'app.can_register_batch' in perms %}
                <div class="card-tools">
                    <a href="{% url 'document.create' file_ref_no %}" class="btn btn-primary">Add Document</a>
                </div>

                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>
{% endblock content %}