{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
{#    table showing a list of 20 recent files#}
{#    a search form#}
    <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Select A File</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Reference Number</th>
                      <th>Status</th>
                      <th>Number Of Documents</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for file in files %}
                    <tr>
                      <td>{{ file.file_reference }}</td>
                      <td><span class="tag tag-success">{{ file.file_status }}</span></td>
                      <td>200</td>
                        <td><a href="{% url 'upload_document' file.file_reference %}" class="btn btn-sm btn-warning">Select</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
{% endblock %}