{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {#        no of uploaded documents#}
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ documents|length }}</h3>

                <p>Documents Uploaded</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of created files#}
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>{{ files|length }}</h3>

                <p>Total Files Upload</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of users#}
    <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ users|length }}</h3>

                <p>System Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of validated files over the total files#}
    <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ document_types|length }}</h3>

                <p>Document Type(s) In The system</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
    </div>

    <div class="row ">
         <div class="col-md-12">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <h3 class="card-title">Progress Overview</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="row">

                   <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-navy">
                <h3 class="card-title">Registry | {{ registry|length }} </h3>
                <div class="card-tools">


                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                    <ul class="list-group">
                    {% for file in registry %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>


{#                end of registry#}


                  <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-lime">
                <h3 class="card-title">Reception | {{ reception| length }}</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                     <ul class="list-group">
                    {% for file in reception %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>

{#                end of reception#}

                          <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-info">
                <h3 class="card-title">Disassembly</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                      <ul class="list-group">
                    {% for file in disassembly %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>


                  <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-indigo">
                <h3 class="card-title">Scanning| {{ scanning|length }}</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 <ul class="list-group">
                    {% for file in scanning %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>

                          <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-yellow">
                <h3 class="card-title">Transcription| {{ transcription|length }}</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 <ul class="list-group">
                    {% for file in transcription %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>

                           <div class="col-md-2">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-gradient-fuchsia">
                <h3 class="card-title">QA | {{ qa | length }}</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                     <ul class="list-group">
                    {% for file in qa %}
                    <tr>
                      <a href="#" class="list-group-item">{{ file.file_barcode }}</a>
                    </tr>
                    {% endfor %}
                    </ul>
              </div>

            </div>
            <!-- /.card -->
          </div>

            </div>
                 </div>
                </div>
            <!-- /.card -->
          </div>
    </div>

    <div class="row">




{#    no of files that passed quality assurance over total files#}
{#    no of rejected files by qa#}
         <div class="col-md-6">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                    <h3 class="card-title">Recent Rejected Files | {{ rejected_file | length }}</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                    <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>File Barcode</th>
                      <th>Reason</th>
                      <th style="width: 40px">Rejected By</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for file in rejected_file %}
                    <tr>
                      <td>1.</td>
                      <td>{{ file.file_barcode }}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-danger">55%</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">


                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->

            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <h3 class="card-title">Recent Rejected Documents | {{ rejected_document |length }}</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>File Barcode</th>
                      <th>Reason</th>
                      <th style="width: 40px">Rejected By</th>
                    </tr>
                  </thead>
               <tbody>
                 {% for document in rejected_document %}
                    <tr>
                      <td>1.</td>
                      <td>{{ document.document_barcode }}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-danger">55%</span></td>
                    </tr>
                  {% endfor %}
               </tbody>
               </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">

                <!-- /.card-comment -->
              </div>

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
    </div>
{% endblock content %}