{% extends 'base.html' %}
{% load static %}
{% include 'app/viewerjs/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8" id="pdf">


        </div>
    <div class="col-md-4">
         <div class="row">
                <button id="clicky" class="btn btn-info">Next Document</button>
         </div>
{#        search its barcode here#}
{#        select the document type here#}
{#        if not empty, proceed to transcibe#}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Document MetaData</h4>
            </div>
            <div class="card-body">
                     <div class="form-group">
                        <label>Select Document Type</label>
                        <select class="form-control">
                          <option>option 1</option>
                          <option>option 2</option>
                          <option>option 3</option>
                          <option>option 4</option>
                          <option>option 5</option>
                        </select>

                         <div class="form-group">
                        <label>Barcode</label>
                        <select id="barcode" class="form-control">
                        </select>
                      </div>
                         <div class="form-group">
                             <button id="updatedoc" class="btn btn-default bg-gradient-gray-dark">Update Document</button>
                         </div>
                      </div>

              </div>
              <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'jquery.popSelectOptions.min.js' %}"></script>
    <script>
       var documents = {{ scanned_documents | safe }};
        var document_barcodes  = {{ digital_documents | safe }};

        console.log(document_barcodes);
         $(function(){
             count = 0
        $('#pdf').append("<embed id='pdf' src= 'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf#toolbar=0' width= '100%' height= '800'>");
        $('#barcode').popSelectOptions({
            'options':document_barcodes
        })
        $('#clicky').click(function(){
            var pdfsource = "http://www.africau.edu/images/default/sample.pdf"+"#toolbar=0"
            $('#pdf').empty()
            {#$('#pdf').replaceWith("<embed id='pdf' src= "+ pdfsource +" width= '100%' height= '800'>")#}
            $('#pdf').append("<embed id='pdf' src= "+ pdfsource +" width= '100%' height= '800'>")
            console.log(documents[count].id);
            count = count + 1;

        });

        $('#updatedoc').click(function(){
            updateStorageAndDocument()
        })

        function updateStorageAndDocument(){
            {#an ajax request to the server to update the documents#}
        }


    })
    </script>


{% endblock %}