{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8">

            {% for document in scanned_documents %}
                <li>{{ document.filepond.url }}</li>
            {% endfor %}
{#        <iframe style="text-align: center" src = "/ViewerJS/#..{{ scanned_documents.filepond.url }}" width='800' height='600' allowfullscreen webkitallowfullscreen></iframe>#}
            <div class="row">
                <button id="clicky" class="btn btn-info">Next</button>
            </div>
        </div>
    <div class="col-md-4">
{#        search its barcode here#}
{#        select the document type here#}
{#        if not empty, proceed to transcibe#}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Document MetaData</h4>
            </div>
            <div class="card-body">
{#                search form#}
{#                select box#}
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
         $(function(){
        var documents = "{{ scanned_documents }}"
        var document_barcodes  = "{{ digital_documents }}"
        console.log(documents)
        $('#clicky').click(function(){
            console.log(documents)_
        })

    })
    </script>


{% endblock %}