{% extends 'base.html' %}
{% load static %}
{% include 'app/viewerjs/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="row" style="min-height: 100px;" >
      <div class="col-md-12 col-sm-12 col-12">
            <div class="info-box bg-info">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Documents Mapped</span>
                <span class="info-box-number" id="statistics"></span>

                <div class="progress">
                  <div class="progress-bar" style="width: 10%"></div>
                </div>
                <span class="progress-description" id="list">
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
    </div>
    <div class="row">

        <div class="col-md-8" id="pdf">


        </div>
    <div class="col-md-4">
        <div class="row">
             <p class="text-justify m-1" id="page">Page 4</p>
        </div>
         <div class="row m-2">
                <button id="clicky" class="btn btn-info m-1">Previous Document</button>

                <button id="next" class="btn bg-gradient-fuchsia m-1">Next Document</button>

         </div>
{#        search its barcode here#}
{#        select the document type here#}
{#        if not empty, proceed to transcibe#}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Document MetaData</h4>
            </div>
            <div class="card-body">
                     <div class="form-group">
                        <label>Select Document Type</label>
                        <select id="documenttype" class="form-control">

                        </select>

                         <div class="form-group">
                        <label>Barcode</label>
                        <select id="barcode" class="form-control">
                        </select>
                      </div>
                         <div class="form-group">
                             <button id="updatedoc" class="btn btn-default bg-gradient-gray-dark">Update Document</button>
                         </div>
                      </div>

              </div>
              <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'jquery.popSelectOptions.min.js' %}"></script>
    <script>
        var documents = {{ scanned_documents | safe }};
        var noOfDocuments = documents.length;
        var document_barcodes  = {{ digital_documents | safe }};
        var document_types = {{ document_type | safe }};
        var doctypes = [];
        var matched = [];


        for(let i = 0; i < document_types.length; i++){
            let value = i;
            let label = document_types[i].document_name;
            let dict = {'value':value, 'label':label};
            doctypes.push(dict)
        }
        var document_type = '';
        var document = '';

        {#jquery code#}
         $(function(){
               let page = 1;
        let pageText = "page <block>" + page +"</block>";
         let statistics = matched.length + " of " + noOfDocuments;
         let list = noOfDocuments - matched.length + " more to go";
         let count = 0;
         let uri = "http://127.0.0.1:9000/media/" + documents[count].filepond + "#toolbar=0";
         let url = encodeURI(uri);

        $('#pdf').append("<embed id='pdf' src=" + url +"  width= '100%' height= '800'>");

        $('#statistics').html(statistics);

        $('#list').html(list);
        $('#page').html(pageText);

         $('#states').append("<div class='progress'>\n" +
        "  <div class='progress-bar progress-bar-striped' role='progressbar' style='width:30%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100'></div>\n" +
        "</div>\n");

        $('#barcode').popSelectOptions({
            'options':document_barcodes
        });
        $('#barcode').change(function(){
            document_id = $('#barcode option:selected').val();
            console.log(document_id)
        });
        $('#documenttype').popSelectOptions({
            'options': doctypes
        });
        $('#documenttype').change(function(){
            document_type = $('#barcode option:selected').val()
        });


        $('#clicky').click(function(){
            let pageText = "page <block>" + page +"</block>";
            if(count === 0){
                count = 0
                page = 1
            }else{
                count = count - 1;
                page = page - 1
            }
            let uri = "http://127.0.0.1:9000/media/" + documents[count].filepond + "#toolbar=0";
            let url = encodeURI(uri);
              $('#page').html(pageText);
            $('#pdf').empty();
            $('#pdf').append("<embed id='pdf' src= "+ url +" width= '100%' height= '800'>")
        });

        $('#next').click(function(){
            let pageText = "page <block>" + page +"</block>";
             if(count <= documents.length){
                count = count +1
                page = page + 1

            }else{
                count = count;
                page = page
            }
             let uri = "http://127.0.0.1:9000/media/" + documents[count].filepond + "#toolbar=0";
             let url = encodeURI(uri);
              $('#page').html(pageText);
            $('#pdf').empty();
            $('#pdf').append("<embed id='pdf' src= "+ url +" width= '100%' height= '800'>")
        });


        $('#updatedoc').click(function(){
            let document_id = $('#barcode option:selected').val();
            console.log(document_id);
            matched.push(document_id);
            let data = {
                document_path: documents[count].filepond,
                document_type: $('#documenttype option:selected').text()
            };
            let urlMask = "{% url 'update_document_file_detail' 87 %}".replace(/87/, document_id.toString());
            console.log(urlMask);
           $.ajax({
              type: "POST",
              url: urlMask,
              data: data,
              success: console.log('received a result'),
              dataType: 'json'
            });
        })
    })
    </script>


{% endblock %}