{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{#    upload a document belonging to a give file#}
    <div class="row">
    <div class="col-md-6">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title text-info">Documents</h3>
        </div>
        <div class="card-body">
              <form class="form-inline ml-3">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search File" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>


          </div>
        </form>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Search Results</li>
                </ul>
        </div>

    </div>
        </div>
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Upload Document</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                    {{ form | crispy }}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
    </div>
{% endblock content %}