{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static '/filepond.css' %}">
{% endblock %}
{% block content %}

{#    upload a document belonging to a give file#}
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Upload Scanned Documents To {{ file.file_reference }}</h4>
                </div>
                <div class="card-body">
                    <input type="file"
                           accept="application/pdf"
                    class="filepond" name="filepond" multiple data-allow-reorder="true" data-max-file-size="10MB"
                           data-max-files="200"
                    >
                </div>
            </div>
        </div>

        <div class="col-md-6">
             <div class="row">
                 <a href="" class="btn btn-sm btn-default bg-gradient-yellow m-2 float-right">Update File Status</a>
                </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Documents</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Document</th>
                      <th>View</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td>Update software</td>
                      <td>
                          <a href="" class="btn btn-sm btn-info"><span class="fas fa-eye"></span></a>
                      </td>
                      <td><span class="fas fa-trash"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

            </div>
        </div>

    </div>
{% endblock content %}

{% block js %}
     <script src="{% static '/filepond.js' %}"></script>
      <script>
  FilePond.parse(document.body);
  FilePond.setOptions({
      server: {
          url:"{% url 'upload_document' file.file_reference %}",
          process:{
              headers: {
                  'X-CSRF-TOKEN': '{{ csrf_token }}'
              }
          }
      }
  })
  </script>
{% endblock%}