{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                {% if 'app.can_transcribe_file' in perms and not user.is_superuser %}
                <div class="card-tools">
                    <a href="{% url 'request_file'  %}" class="btn btn-primary">Request File</a>
                </div>

                {% endif %}
              <h3 class="card-title">Document Files Created</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>
{% endblock content %}