{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 card">
            <div class="row m-1">
                <h5 class="text-center">Search File By Barcode</h5>
            </div>
            <div class="row m-1">
                <form class="form-inline ml-3" action="." method="get">
              <div class="input-group input-group-sm">
                <input name="q" class="form-control form-control-navbar" type="search" placeholder="Search Document" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            </div>

            {% if results %}
            <div class="card shadow">
            <div class="card-header">
                <p class="card-title">Search Results</p>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for result in results %}
                        <li class="list-group-item">{{ result.file_barcode }} <a href="{% url 'inspect' result.file_reference %}" class="btn btn-default float-right">Select</a></li>
                    {% endfor %}
                </ul>

            </div>
            </div>
            {% endif %}
            {% if documents %}
                <h4>Counter Check Documents in File {{ file.file_barcode }}</h4>
            {% endif %}
            {% if file %}
            <form>
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcoded" placeholder="Barcode">
                </div>
            </form>
            {% endif %}
            <div class="row">
                {% if file %}
                <div class="col-md-6">
                    Missing Documents
                    <ul class="list-group" id="missing">

                    </ul>
                </div>
                <div class="col-md-6" id="excess">
                    Excess Documents
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="barbadges">

            </div>
            {% if file %}
             <div class="row ">

                    <div class="col-md-6 ">
                        <input required value="{{ file_state_id }}" type="hidden" name="modified_to_state_id">
                        <div class="form-group">
                        <button class="btn btn-success"  type="submit"> Accept</button>
                        </div>

                    </div>
                    <input type="hidden" name="is_reject" value="nothing">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-primary" id="reject"> Reject</button>
                    </div>
                </div>
            {% endif %}
            <ul class="list-group" id="verdict">

            </ul>
        </div>
    </div>

    {% if file %}
     <div class="modal fade" id="modal-primary">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">File Rejection Form</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
              <div class="modal-body">
                  <form action="{% url 'change_file_status_to_reject' file.file_reference %}" method="post"  id="form_data">
                    {% csrf_token %}
                      <div class="form-group">
                          <label for="is_reject_description">Reason for reject *</label>
                    <textarea  class="form-control" id= "is_reject_description" required name="is_reject_description" rows="5">

                    </textarea>
                  </div>
                      <div class="form-group ">
                         <div class="form-group">
                        <label>The root of escalation *</label>
                        <select class="form-control select2bs4" name="modified_to_state_id" data-dropdown-css-class="select2-primary" data-placeholder="Select Group" required="required">
                            {% if 'app.can_receive_file' in perms %}
                        <option value="400">Missing File</option>

                            {% elif  'app.can_disassemble_file' in perms  or 'app.can_reassemble_file' in perms  %}

                                <option value="400">Unknown Document</option>
                            {% endif %}


                        </select>
                      </div>

                      </div>
                      <div class="row">
                      <div class="form-group col-md-6 pull-left">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close Form</button>
                          </div>
                      <div class="form-group col-md-4 offset-2">

              <button type="submit" class="btn btn-success">Submit changes</button>
                      </div>
                          </div>
                </form>
              </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    {% endif %}

</div>
{% endblock %}
{% block js %}
    <script>


    $(function(){
        let documents = {{ documents | safe }};
        let missing = []
        let excess = []
        excess= documents
        let scanned = []

        for(let i = 0; i < documents.length; i++){
            barItem = "<span class='badge badge-secondary'>"+ documents[i] +"</span>"
            $('#barbadges').append(barItem)
        }

         for(let i = 0; i < excess.length; i++){
               let li =  "<li class='list-group-item'>"+ excess[i] +"</li>"
               $('#excess').append(li)
         }

        $("#barcoded").keypress(function(event){
            if (event.which == '10' || event.which == '13') {
                checkPresent($(this).val())
                $(this).val('')
                event.preventDefault();
            }
        });
         $('#reject').on('click', function(){
             let missingReport = undefined
             let excessReports = undefined
             if(missing.length > 0){
                 missingReport = "The following Files are missing " + missing
             }else{
                 missingReport = ''
             }
             if(excess.length > 0){
                 excessReports= "The following Documents Couldn't be found " + excess
             }else{
                 excessReports = ''
             }

             $('#is_reject_description').val(missingReport + excessReports)
         });
        function checkPresent(barcode){
            present = documents.indexOf(barcode)
            let listItem = undefined
            if(present < 0){
                missing.push(barcode)
               registerMissing()
                listItem = "<li class='list-group-item bg-danger'>"+ barcode +"</li>"
            }else{
               let index = excess.indexOf(barcode);
                if (index > -1) {
                  excess.splice(index, 1);
                }
                registerExcess()
                listItem = "<li class='list-group-item bg-success'>" +barcode+ "</li>"
            }
            $('#verdict').append(listItem)

        }
        function registerMissing(){
           for(let i = 0; i < missing.length; i++){
               let li =  "<li class='list-group-item bg-gradient-warning'>"+ missing[i] +"</li>"
               $('#missing').append(li)
           }
        }

        function registerExcess(){
            $('#excess').empty()
           for(let i = 0; i < excess.length; i++){
               let li =  "<li class='list-group-item bg-gradient-warning'>"+ excess[i] +"</li>"
               $('#excess').append(li)
           }
        }
    })
</script>
{% endblock %}