{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 card">
            <div class="card-header">
                <p class="card-title">Receiver</p>
            <div class="card-tools">
                  <div >
                      <form action="." class="input-group input-group-sm" style="width: 250px;" method="get">
                        <input type="text" name="q" class="form-control float-right" placeholder="Batch No">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                      </form>

                  </div>
                </div>
            </div>
            {% if results %}
                <div class="card-body">
            <div class="card shadow">
            <div class="card-header">
                <p class="card-title">Search Results</p>
            </div>


                <ul class="list-group">
                    {% for result in results %}
                        <li class="list-group-item">{{ result.batch_no }} <a href="{% url 'receive' result.pk %}" class="btn btn-default float-right">Select</a></li>
                    {% endfor %}

                </ul>


            </div>
            </div>
                {% elif empty %}
                <p class="text-info">No Batch Found</p>
            {% endif %}
            {% if documents %}
                <h4>Counter Check Files in Batch {{ batch.batch_no }}</h4>
            {% endif %}
            {% if batch %}
            <form>

                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcoded" placeholder="Search File By Barcode">
                </div>
            </form>
        {% endif %}
            {% if batch %}
            <div class="row m-2">
                <div class="col-md-6">
                    <Strong>Missing Files</Strong>
                    <ul class="list-group" id="missing">

                    </ul>
                </div>
                <div class="col-md-6">
                    <Strong>Existing Files</Strong>
                      <ol class="list-group text-xs" id="excess">

                    </ol>
                </div>

            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div id="barbadges">

            </div>
            <div class="col-md-6 ">
                {% if batch %}
                     <form action="" method="post"  id="form_data">
                    {% csrf_token %}
                        <input required value="" type="hidden" id="state" name="modified_to_state_id">
                        <div class="form-group">
                        <button class="btn btn-success" id="accept" type="submit"> Accept</button>
                        </div>
                     </form>
                {% endif %}

            </div>
            <ul class="list-group" id="verdict">

            </ul>
        </div>
    </div>

</div>
{% endblock %}
{% block js %}
    <script>


    $(function(){
        let documents = {{ files | safe }};
        let missing = []
        let excess = []
        excess= documents
        let scanned = []

        for(let i = 0; i < documents.length; i++){
            barItem = "<span class='badge badge-secondary'>"+ documents[i].file_barcode +"</span>"
            $('#barbadges').append(barItem)
        }

         for(let i = 0; i < excess.length; i++){
               let li =  "<li class='list-group-item'>" + "<i class='fas fa-file p-1 text-maroon'></i>" + excess[i].file_barcode +"</li>"
               $('#excess').append(li)
         }


        $("#barcoded").keypress(function(event){
            if (event.which == '10' || event.which == '13') {
                checkPresent($(this).val())
                $(this).val('')
                event.preventDefault();
            }
        });
        function checkPresent(barcode){
            present = documents.map(function(e) { return e.file_barcode; }).indexOf(barcode);
            let listItem = undefined
            if(present < 0){
                missing.push(barcode)
               registerMissing()
                listItem = "<li class='list-group-item bg-danger'>"+ barcode +"</li>"
            }else{
               let index =  excess.map(function(e) { return e.file_barcode; }).indexOf(barcode);
                if (index > -1) {
                    let url = '';
                   let file_referece =excess[index].file_reference
                    let state = excess[index].state
                    $('#state').val(state)
                    excess.splice(index, 1);
                    let urlMask = "{% url 'change_file_status_to_accept_ajax' 87 %}".replace(/87/, file_referece);
                    $('#form_data').attr('action', urlMask);
                    {#$( "#accept" ).trigger( "click" );#}
                }
                registerExcess()
                listItem = "<li class='list-group-item bg-success'>" +barcode+ "</li>"
            }
            $('#verdict').append(listItem)

        }
        function registerMissing(){
           for(let i = 0; i < missing.length; i++){
               let li =  "<li class='list-group-item bg-gradient-danger'>" + "<i class='fas fa-stop p-1 text-danger'></i>" + missing[i] +"</li>"
               $('#missing').append(li)
           }
        }

        function registerExcess(){
            $('#excess').empty()
           for(let i = 0; i < excess.length; i++){
               let li =  "<li class='list-group-item'>"+ "<i class='fas fa-file p-1 text-maroon'></i>" + excess[i].file_barcode +"</li>"
               $('#excess').append(li)
           }
        }
    })
</script>
{% endblock %}